* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

@font-face {
	font-family: sora;
	src: url("./public/fonts/sora.ttf");
}
body {
	background-color: #31393c;
	color: black;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	height: 100vh;
	width: 100vw;
}

#startContainer,
#app {
	position: absolute;
	height: 177.777vw;
	width: 100vw;
	max-height: 100vh;
	max-width: 56.25vh;
	background-image: url(../public/img/01/bg_01.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	left: 50%;
	transform: translate(-50%, 0);
	overflow: hidden;
}

#startButton {
	position: absolute;
	cursor: pointer;
	background-color: transparent;
	border: none;
	width: 56%;
	bottom: 2%;
	left: 22%;
}

#startButton > img {
	width: 100%;
}
